@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/stellar');

:root{
  --primary-dark: #5651e5;
  --primary-light: #709dff;
  --gold: #EEAA00;
  --brown: #653819;
}

@layer base{
  html{
    @apply scroll-smooth
  }
}

body{
  @apply font-['Helvetica_Neue']
}

li{
  @apply p-4 text-sm
}

button{
  @apply px-4 py-2 text-white border bg-[var(--brown)]
}

h2, h1{
  @apply text-xl font-['Helvetica_Neue']
}